<app-search-pokemon></app-search-pokemon>

<h2 class="center">Nos Pokémons</h2>
<div class="container">
    <div class="row">

        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <div class="card horizontal" pokeBorderCard (click)="goToPokemon(pokemon)">
                <div class="card-image">
                    <img [src]="pokemon.picture" alt="image du pokemon">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ pokemon.name }}</p>
                        <p><small>{{ pokemon.created | date:"dd/MM/yyyy" }}</small></p>
                        <span *ngFor="let type of pokemon.types" class="{{ type | pokeTypeColor }}">
                            {{ type }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<a class="btn-floating btn-large wawes-effect wawes-light z-deph" routerLink="/pokemon/add">
    +
</a>
